SERVER_ADDRESS=127.0.0.1
SERVER_PORT=7979
TS_URL="http://192.168.131.124:9903"
NEVA_URL="http://192.168.131.44:7427/MainProcess/intfMainProcess-service.serviceagent?wsdl"
DB_USER=user_zeni
DB_PASS=D3v_0z3n_cl0ud16
DB_ADDRESS=10.218.0.6
DB_PORT=3306
DB_NAME=frame_channel
LOG_TIME_FORMAT="150405"
LOG_BEAUTIFY=false
LOG_OUTPUT=screen
GIN_MODE=release
ENV=prod